{% extends 'layout.html' %}



{% block body %}


        <img src="{{url_for('static', filename='picture.jpg')}}" style="margin-left:250px;">
        <br>
        We are a culturally diverse group of students who share latin dance as a common interest if not passion.
        We teach latin dances on campus as well as throughout Tallahassee. We are also involved with community service opportunities around the city.
        We host workshops as well as perform at various events throughout Florida. We focus on becoming well rounded Salsa dancers through performance, social dancing, and teaching.




{% endblock%}
