{% extends 'layout.html' %}

{% block body %}
          <!--form to select organizations-->
            <h1 style="float:left;"><em>Organizations</em> </h1>
            <br>

            <form action="ind_hom.html" method="get" style="text-align:center;">
              {{ form.autocomp }}
              <input type="submit" value="Go" style="height:30px;width:50px;">
            </form>
            <script>
                $(function() {
                    $.ajax({
                        url: '{{ url_for("autocomplete") }}'
                        }).done(function (data){
                            $('#city_autocomplete').autocomplete({
                                source: data
                            });
                        });
                    });
            </script>
            <br><br><br>
            <h1 style="float:left;"><em>Have this relationship</em></h1>
            <form action="index.html" method="post">
              <input type="radio" name="emotion" id="negative" />
              <img src={{url_for('static', filename= "images/neg2.png")}} alt="I'm sad" style="height:100px;width:100px;"/>
              <input type="radio" name="emotion" id="positive"/>
              <img src={{url_for('static', filename= "images/pl2.png")}} alt="I'm happy" style="height:100px;width:100px;"/>
            </form>
            <br>


            <h1 style="float:left;"><em>With this</em></h1>
            <br>
            <form class="ind_hom.html" method="get" style="text-align:center;">
              {{ form.autocomp }}
            </form>
            <em>[agenda]</em>
            <br><br><br>

            <h1 style="float:left;padding-bottom:50px;"><em>Based on this <br> evidence</em></h1>

            <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Evidence</button>
              <div id="myDropdown" class="dropdown-content">
                <a href="#home">Option A</a>
                <a href="#about">Option B</a>
                <a href="#contact">Option C</a>
              </div>
            </div>
            <br><br><br>




{% endblock%}
